#modal {
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #16202c;
  display: flex;
  justify-content: center;
  align-items: center;
}



.modal-box {
  opacity: .8;
  font-size: 18px;
  width: 600px;
  height: 70%;
  background-color: #034e65;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

  #modal-header{
    box-sizing: border-box;
    width: 80%;
    margin: 20px;

    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 80px;
    padding: 10px;

  }

  #instuction{
    text-align: left;
    font-size: 32px;
    color: white;
  }

#modal-level-wrap{
  display: flex;
  justify-content: space-around;
  width: 80%;
}

#modal-level-wrap p {
  border-radius: 10px;
  width: 100px;
  text-align: center;
  margin-top: 20px;
  font-size: 70px;
  background-color: #16202c;
  padding: 20px;
  color: gray;
  margin-bottom: 20px;
}

#modal-level-wrap p:hover{
  color: white;
  background-color: #3980e9;
}
.fa-arrow-down{
  font-size: 30px;
}
